body, h1, h3 {
  margin: 0;
  padding: 0;
}

.vet-background {
  background-color: #f3f2fb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.vet-background:before {
  content: "";
  position: absolute;
  width: 500vw;
  height: 500vh;
  top: -150%;
  left: -150%;
  background-image: url('../images/background-tile.png');
  background-repeat: repeat;
  background-size: 10rem;
  transform: rotate(-30deg);
  opacity: 0.05;
}

.all-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}
.header {
  padding: 16px 32px;
  background: #FFF;
}

.main-block {
  margin: 100px 0 40px;
  flex-direction: column;
}

.main-block .company-name-container {
  padding-left: 13px;
  max-width: 312px;
}

.main-block .company-name-container .logo-container {
  margin-right: 16px;
}

.main-block .company-name-container .company-name {
  padding-top: 6px;
}

.main-block .main-goal {
  text-align: center;
  font-family: Arial;
  font-style: normal;
  line-height: 125%;
}

.main-block .main-goal h1 {
  color: #111928;
  font-size: 20px;
  font-weight: 300;
  margin: 16px 14px;
  max-width: 900px;
}

.main-block .main-goal h3 {
  color: #6B7280;
  font-size: 16px;
  font-weight: 700;
}

.iframe-container {
  width: 100%;
  height: 920px;
  margin-top: 40px;
}

.iframe-container .iframe {
  height: 919px;
  width: 640px;
}

@media (max-width: 425px) {
  .header {
    padding: 16px 16px;
  }
  .main-block {
    margin-top: 30px;
  }
  .main-block .company-name-container {
    max-width: 200px;
  }
  .iframe {
    width: 320px !important;
  }
}

@media (min-width: 1024px) {
  .main-block {
    flex-direction: row;
    margin: 0;
    width: 100%;
    align-items: flex-start;
  }
  .main-block .left-block {
    width: 50%;
    padding: 130px 20px 0;
  }
  .main-block .iframe-container {
    width: 50%;
  }
}
